img {
  width: 35%;
  height: 
  
}
#scalene{
  width: 100ß%;
  margin-top: 30vh;
  margin-left: 10px;
  text-align: center;
  display: none;
}
#isosolese{
  margin-top: 30vh;
  margin-left: 30vh;
  text-align: center;
  display: none;
}
#equilateral{
  margin-top: 30vh;
  margin-left: 30vh;
  text-align: center;
  display: none;
}
form{
  float: left;
}